@use 'base/mixins' as m;
@use 'base/variables' as v;

.ambientes {
    background: rgb(245,55,86);
    background: linear-gradient(0deg, rgba(245,55,86,1) 0%, rgba(189,51,115,1) 6%, rgba(157,49,131,1) 10%, rgba(117,47,151,1) 52%, rgba(162,115,185,1) 100%);
    padding: 1rem;
    @include m.desktop {
        padding-bottom: 4rem;
        display: grid;
    }
}

.seccion {
    color: v.$blanco;
    max-height: 19.6rem;
    display: inline-block;
    @include m.desktop {
        max-height: 25rem;
        height: 100%;
    }


    .contenido-seccion {
        padding: 1.2rem;

        @include m.desktop {
            display: grid;
            grid-template-columns: 60% 40%;
            grid-template-rows: 250px 250px 250px;
            grid-template-areas: 
            "n1 n2"
            "n4 n3"
            "n5 n6";
            gap: 1rem;
        } 
        @media (min-width: 1300px) {
            grid-template-columns: 60% 40%;
            grid-template-rows: 370px 370px 370px;
        }   
        
    }

    .seccion-texto {
        max-width: 98%;
        text-align: justify;
        margin: 1rem;   
        padding-top: 1rem;

        h3 {
            text-transform: uppercase;
            text-align: center;
            margin-top: 1rem;
            padding: 0;
            margin-bottom: 1rem;

            @include m.desktop {
            font-size: 2.5rem;
            margin: 2rem;
            text-align: left;                
            }
        }

        p {
            color: v.$blanco;
            margin: 0 auto;
            text-align: center;
            @include m.desktop {
            text-align: justify;
            margin: 2rem;
            color: v.$blanco;
            font-size: 1.5rem;
            }
        }
    }
    

    picture {
        max-width: 100%;
        @include m.tablet {
            min-width: 35rem;
            width: 90%;
            height: 80%;
            padding: 0;
            margin-left: 1.8rem;
        }
        @media (min-width: 1000px) {
            max-width: 90%;
            max-height: 80%;
        }
        @media (min-width: 900px) and (max-width: 1000px) {
            min-width: 50rem;
        }
    }
}
